.container1 {
  background-color: #e5e7eb;
  margin-top: 15vh;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 40vw;
  height: 45vh;
}

.title1 {
  font-size: 32px;
  font-weight: bold;
}

.input-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .input-form input {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .input-form button {
    padding: 10px;
    font-size: 16px;
    color: white;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .input-form button:hover {
    background-color: #0056b3;
  }
  